---
BasedOnStyle:  LLVM
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
Cpp11BracedListStyle: false
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
FixNamespaceComments: false
...
