/***************************************************************************
* Copyright 2007-2023 Universidade do Porto - Faculdade de Engenharia      *
* Laboratório de Sistemas e Tecnologia Subaquática (LSTS)                  *
****************************************************************************
* This file is part of DUNE: Unified Navigation Environment.               *
*                                                                          *
* Commercial Licence Usage                                                 *
* Licencees holding valid commercial DUNE licences may use this file in    *
* accordance with the commercial licence agreement provided with the       *
* Software or, alternatively, in accordance with the terms contained in a  *
* written agreement between you and Universidade do Porto. For licensing   *
* terms, conditions, and further information contact lsts@fe.up.pt.        *
*                                                                          *
* European Union Public Licence - EUPL v.1.1 Usage                         *
* Alternatively, this file may be used under the terms of the EUPL,        *
* Version 1.1 only (the "Licence"), appearing in the file LICENCE.md       *
* included in the packaging of this file. You may not use this work        *
* except in compliance with the Licence. Unless required by applicable     *
* law or agreed to in writing, software distributed under the Licence is   *
* distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF     *
* ANY KIND, either express or implied. See the Licence for the specific    *
* language governing permissions and limitations at                        *
* http://ec.europa.eu/idabc/eupl.html.                                     *
****************************************************************************
* Author: Ricardo Martins                                                  *
***************************************************************************/

body
{
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  color: var(--c-color-text);
}

button {
  background-color: #f5f3f8;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--c-color-text);
  transition: background-color 0.3s;
  font-size: 10px;
  border-radius: 8px;
}

button:hover {
  background-color: #b0a5ca;
  color: #000000;
  transform: scale(1.1);
}

button.active {
  background-color: rgb(158, 191, 201);
  color: black;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  transform: scale(1.1);
  cursor: grab;
}

button:disabled {
  background-color: rgb(223, 217, 217);
  color: rgb(167, 161, 161);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  transform: scale(1);
  cursor: not-allowed;
}

button.loading {
  background-color: rgb(223, 217, 217);
  color: rgb(167, 161, 161);
  cursor: wait;
}

input[type="text"], input[type="number"], textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  width: 6%;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #6200ea;
  outline: none;
}

a
{
  outline: none;
}

input
{
  font-size: 10px;
}

#x-body-table
{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#x-copyright
{
  font-size: 12px;
  text-align: center;
}

#x-container
{
  padding: 1em;
}

.infoTable {
  border-radius: 8px !important;
}

#Logs
{
  text-align: left;
}

#Logs ul li ul
{
  list-style-type: none;
  margin-left: 5px;
  padding-left: 5px;
}

#Logs ul li ul li
{
  list-style-type: none;
  margin-left: 5px;
  padding-left: 5px;
}

div#Sensors {
  max-height: 85vh;
  overflow-y: scroll;
}

#Sensors table
{
  margin-bottom: 0.5em;
  border-spacing: 0 4px;
}

#Sensors table:last-child
{
  margin-bottom: 0.5em;
}

#Sensors th
{
  /*Sensors title*/
  background-color: var(--c-background-h-l);
  color: var(--c-color-text-h-l);
  border-radius: 12px;
  box-shadow: 0 1px 2px var(--c-color-text);
  padding: 6px;
}

#Sensors td
{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--c-color-text);
  margin-bottom: 2px;
  text-align: center;
}

#Sensors tr
{
  border: solid var(--c-color-text) thin;
  border-collapse: collapse;
  border: none;
}

#Sensors td:first-child
{
  /**/
  background-color: var(--c-color-entity-sensor-background);
  font-weight: bold;
  width: 150px;
  text-align: center;
  color: var(--c-color-entity-sensor-color-label);
}

#Sensors td:nth-child(3)
{
  text-align: center !important;
}

#Sensors table
{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#Sensors td:last-child
{
  text-align: center;
}

#ConnectionIcon
{
  border: none;
}

div.Hidden
{
  visibility: hidden;
  position: absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  overflow:hidden;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

td.entryLeft
{
  font-weight: bold;
  text-align: left;
  padding-right: 5px;
  vertical-align: middle;
}

td.entryRight
{
  vertical-align: middle;
  text-align: left;
}

h1
{
  font-size: 14px;
  color: var(--c-color-text);
  text-align: left;
}

hr
{
  border-style: solid #aaa thin;
  border-collapse: collapse;
}

p.INFO
{
    text-align: left;
    color: var(--c-color-info);
}

p.WARNING
{
    text-align: left;
    color: var(--c-color-warning);
}

p.ERROR
{
    text-align: left;
    color: var(--c-color-error);
}

p.CRITICAL
{
    text-align: left;
    font-weight: bold;
    color: var(--c-color-critical);
}

p.DEBUG
{
    text-align: left;
    font-weight: bold;
    color: var(--c-color-debug);
}

#logbook-filters {
    display: none;
}

#MainOverviewLeft
{
  margin-left: 70px;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding: 10px 18px;
  border-radius: 18px;
  box-shadow: 0 1px 2px var(--c-color-text);
}

#MainOverviewRight
{
  margin-left: auto;
  margin-right: 80px;
  width: 20%;
  text-align: center;
  padding: 10px 18px;
  border-radius: 18px;
  box-shadow: 0 1px 2px var(--c-color-text);
}

#MenuBar
{
  padding: 0px;
  padding-left: 5px;
  padding-top: 10px;
  border-collapse: collapse;
  vertical-align: middle;
}

#Menu
{
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  height: 31px;
  display: inline;
  z-index: 10;
  margin-bottom: -1px;
}

#Menu ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

#Menu li
{
  float: left;
  position: relative;
  margin: 0;
  margin-right: 1px;
  padding: 0;
  list-style: none;
  background-image: linear-gradient(to top,#2b2b2b, #555555);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#Menu li a
{
  display: block;
  height: 25px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 13px 0 13px;
}

#Menu li.FirstSelected a
{
  background-image: linear-gradient(to top,#ffffff, #707070);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#Menu li ul
{
  float: left;
  position: absolute;
  left: 0;
  top: 30px;
  width: 200px;
  display: none;
  text-align: left;
  background-image: linear-gradient(to top,#2b2b2b, #555555);
  padding: 0 0 10px 0;
  z-index: 10;
}

#Menu li ul li
{
  clear: both;
  color: white;
  text-align: left;
  /* background-image: none; */
  font-size: 15px;
}

#Menu li ul li a
{
  color: #394852;
  padding: 2px 10px 0 10px;
  width: 160px;
  height: auto;
  font-weight: normal;
  font-size: 0.9em;
  background-image: none;
}

#Menu li:hover, #Menu li.Selected, #Menu li.FirstSelected
{
  background-image: linear-gradient(to top,#ffffff, #707070);
}

#Menu li:hover a, #Menu li.Selected a, #Menu li.FirstSelected a
{
  color: #394852;
  border-bottom: solid #fff thin;
}

#Menu li.Static
{
  background-position: 100% 0px;
}

#Menu li.Static a
{
  background-position: 0 0px;
  color: #394852;
  border-bottom: solid #aaa thin;
}

#Menu li:hover ul, #Menu li.Selected ul, #Menu li.FirstSelected ul
{
  display: block;
}

#MainTaskTableDiv
{
  max-height: 60vh;
  overflow-y: scroll;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#MainTaskTable
{
  overflow-y: auto;
}

#MainTaskTable tr
{
  /*border-bottom: solid var(--c-color-line-split-tasks) thin;*/
  padding: 10px 18px;
  border-radius: 18px;
  box-shadow: 0 1px 2px var(--c-color-text);
}

#MainTaskTable tr:last-child
{
  border-bottom: none;
}

#MainTaskTable th, #MainTaskTable td
{
  text-align: left;
  padding: 5px;
}

#MainTaskTable th
{
  width: 150px;
  padding: 0px 18px;
}

#Power div{
  max-height: 85vh;
  overflow-y: scroll;
}

#Power th
{
  background-color: var(--c-background-h-l);
  color: var(--c-color-text-h-l);
  border-radius: 12px;
  box-shadow: 0 1px 2px var(--c-color-text);
  padding: 6px;
}

#Power td form {
  text-align: center;
}

#Power table tr td
{
  text-align: left;
}

#Power table tr td img
{
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#Power table
{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border-spacing: 0 4px;
}

#Power table tr
{
  border: solid #999 thin;
}

#Power table form *
{
  margin: 5px;
}

#systemName {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--c-color-text);
  margin-bottom: 1px;
  color: var(--c-color-text-system-name);
  display: inline-block;
  margin-bottom: 12px;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  padding-left: 40px;
  padding-top: 0px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  left: 18px;
  top: 0;
  width: 12px;
  height: 12px;
  border: 2px solid var(--c-color-text);
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: var(--c-color-checkbox-hover);
  border-color: var(--c-color-checkbox-hover);
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 0px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

label:hover .custom-checkbox {
  border-color: var(--c-color-info);
}
